body{
    background-image:url(/assets/img/fondo4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* estilo para el banner */
#fotoBanner{
   border-radius: 3%;
   margin: 2% 6% 2% 6%;
}
.caja{
    position: relative;
    display: inline-block;
}
.texto1{
    position: absolute;
    top: 80%;
    left:15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: antiquewhite;
}

/* estilo para Sobre mi*/
.sobre{
    text-align: center;
    border: 2 solid black;
    font-family: 'Heebo', sans-serif;
    font-family: 'Rubik Spray Paint', cursive;
    color: black;
    margin: 2%;
}
.textoSobreMi{
    color:white;
    font-size: 25px;
}

<style> @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Rubik+Spray+Paint&display=swap'); </style>